.estilo {
    color: aliceblue;
}

.estilo h2 {
    font-size: 30px;
}

.estilo button {
    margin-top: 15px;
    display: flex;
    width: 80px;
    font-size: 20px;
}

.fazerpedido {
    margin: 10px;
    margin-top: 30px;
    display: flex;
}

.estilo label {
margin-top: 30px;
display: flex;
}

.estilo select {
    width: 50px;
    font-size: 20px;
    margin-top: 10px;
}


.img {
    width: 200px;
    position: absolute;
    bottom: 0;
    margin-left: 210px;
}

/* solução provisória para manter o footer no fim da tela*/
.botaoVoltarFinal {
    margin-bottom: 90px;
}

