.navbar {
    display: flex;
    justify-content: space-between;
background-color:#561e6f;
padding: 0.5em;
}

.list {
display: flex;
list-style: none;
align-items: center;

}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    transition: 0.5s;
    text-decoration: none;
}

.img {
    width: 50px;
}